@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-sans: var(--font-noto-sans-kr);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}
